.cart-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;   
}

.cart {
    min-width: 300px;
    min-height: 100px;
    
}

.cart li {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    border: 2px solid grey;
}

.cart li p {
    margin: 3px;
}

.img-cart{
    width: 80px;
    height: 80px;
}

.delete-item {
    margin: 10px;
    width: 110px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.delete-button {
    width: 150px;
    height: 50px;
    margin: 15px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #fff;;
    background-color: #d3145a
}

.end-button {
    width: 250px;
    height: 50px;
    margin: 15px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #d3145a;     
}


@media (min-width: 650px) {

    .cart {
        min-width: 500px;
        min-height: 200px;
        
    } 
}

@media (min-width: 1024px) {
 
    .cart {
        min-width: 600px;
    } 
    
    .cart li {
        flex-direction: row;
        padding: 40px;
    }

    .cart li p {
        margin: 25px;
    }

}