.detail-container {
    display: flex;
    justify-content: center;
}

.detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 450px;
    margin: 30px;
    padding: 1em 2em;
    border: 2px solid grey;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    border-radius: 15px;
}

.detail-img {
    width: 240px;
    height: 240px;
}


@media (min-width: 1024px) {
    .detail {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 700px;
        margin: 35px;
        font-size: 1.8rem;
    }

    .detail-img {
        width: 440px;
        height: 440px;
    }

    .detail-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}