.card-container {
    margin: 10px;
}

.card {
    width: 250px;
    height: 420px;
    padding: 1em 2em;
    border: 2px solid grey;
    font-size: 18px;
    font-weight: 500;
    color: black;
    border-radius: 15px;
}

.card-image {
    width: 253px;
    height: 253px;
}