.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #282c34;
}

.logo {
    position: relative;
    height: 15vmin;
    left: 60px;

}

 .nav-container {
    display: flex;
    position: relative;
    list-style: none;
    right: 35px;
    
 }

 .nav-container li {
     padding: 30px;
 }


.nav-container li a {
    text-decoration: none;
    color: white;
}

