.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #282c34;
}

.logo {
    position: relative;
    height: 20vmin;
    left: 20px;
}

.nav-container {
    display: flex;
    position: relative;
    list-style: none;
    right: 10px;
}

.nav-container li {
    padding: 15px;
    color: white;
}


@media (min-width: 650px) {

.nav-container {
    right: 25px;
}     
.nav-container li {
    font-size: 1.4rem;
}}

@media (min-width: 1024px) {
.nav-container {
    left: 300px;
}  

.nav-container li {
    padding: 30px;
}}
